<h3 class="title-products">PRODUCTOS</h3>
<app-product-form (productNewOut)="productNewOut($event)"></app-product-form>
<table class="table-products">
    <thead class="thead">
        <td>MARCA</td>
        <td>NOMBRE</td>
        <td>PRECIO</td>
        <td>STOCK</td>
        <td></td>
    </thead>
    <tbody *ngIf="products.length > 0">
        <tr *ngFor="let product of products">
            <td>{{product.brand}}</td>
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td>{{product.stock}}</td>
            <td>
                <button><i class="fa-solid fa-pen"></i></button>
                <button (click)="deleteProduct(product.id!)"><i class="fa-solid fa-trash"></i></button>
            </td>
        </tr>
    </tbody>
</table>