<nav class="navbar">
  <a routerLink="/ecommerce/products">
    <img
      class="navbar-logo"
      src="https://upload.wikimedia.org/wikipedia/commons/b/bc/Unicef-market_logo.png"
      alt="logo-ecommerce"
    
      />
    
  </a>

  <ul class="navbar-items">
    <li class="navbar-item">
      <a class="navbar-link" routerLink="/ecommerce/my-cart">
        <i class="fa-solid fa-cart-shopping"></i> Mi Carrito
      </a>
    </li>
    <li class="navbar-item">
      <a class="navbar-link" (click)="logOut()">
        <i class="fa-solid fa-arrow-right-from-bracket"></i> Salir
      </a>
    </li>
  </ul>
</nav>
