<form class="product-form">
    <label for="name">Nombre</label>
    <input id="name" type="text" [(ngModel)]="productNew.name" name="name">

    <label for="imageUrl">Imagen</label>
    <input id="imageUrl" type="text" [(ngModel)]="productNew.imageUrl" name="imageUrl">

    <label for="description">Descripción</label>
    <textarea id="description" cols="30" rows="10" [(ngModel)]="productNew.description" name="description"></textarea>

    <label for="price">Precio</label>
    <input type="number" id="price" [(ngModel)]="productNew.price" name="price">
    
    <label for="stock">Stock</label>
    <input type="number" id="stock" [(ngModel)]="productNew.stock"  name="stock">

    <label for="productTypeId">Tipo de producto</label>
    <select [(ngModel)]="productNew.productTypeId" name="productTypeId">
        <option value="{{productType.id}}" *ngFor="let productType of productTypes">{{productType.name}}</option>
    </select>

    <label for="brandId">Marca</label>
    <select [(ngModel)]="productNew.brandId" name="brandId">
        <option value="{{brand.id}}" *ngFor="let brand of brands">{{brand.name}}</option>
    </select>
    <button (click)="addProduct()">Agregar</button>
</form>