.navbar-menu{
    background-color: var(--primary-color);
}
.menu-items{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    text-align: center;
}

.menu-item{
    list-style: none;
}

.menu-link{
    text-decoration: none;
    background-color: var(--primary-color);
    color: white;
    padding: 10px;
    display: block;
    transition: 0.5s;
}

.menu-link:hover, .item-selected{
    background-color: white;
    color: var(--primary-color);
    cursor: pointer;
}